<div mat-dialog-title>
  <h1>Create-Edit Form</h1>
</div>
<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
  <div mat-dialog-content class="content">
    <div class="row">
      <mat-form-field appearance="outline">
        <mat-label>Palace</mat-label>
        <input matInput type="text" placeholder="Ex. Ha Noi" formControlName="title">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Price</mat-label>
        <input matInput type="number" placeholder="Ex. 200000" formControlName="price">
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="action">
    <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
    <button mat-raised-button color="primary" type="submit">{{data ? 'Update' : 'Save'}}</button>
  </div>
</form>
